@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-image: url(./images/background.png);
  background-size: fill;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Title of the game */
.header {
  padding: 1%;
  margin: 1% auto;
  font-size: 2rem;
  background-color: wheat;
  border: 2px solid black;
  width: 922px;
  display: flex;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.8);
}

/* Clickable image */
#animerock {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}

#animerock:hover {
  cursor: pointer;
}

#animerock:active {
  transform: translateX(-50%) translateY(-50px);
}

/* Rock & CPS count */
#text-container {
  background-color: wheat;
  border: 2px solid black;
  padding: 1%;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 1.5rem;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.8);
}

/* Upgrade buttons */
.upgradeButtons {
  border: 2px solid black;
  background-color: wheat;
  padding: 7px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  font-size: 1.2rem;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.8);
}

.upgradeButtons:hover {
  cursor: pointer;
}

/* Audio volume bar */
#volume-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: wheat;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.8);
}
